<h1>@MY NAME IS CHANDRAKANT BABASAHEB GHORPADE@</h1>
<H2>MY FIRST ANGULAR APPLICATION...</H2>
<!-- <app-employee></app-employee> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuildpipe></app-inbuildpipe> -->
<!-- <app-custompipe2></app-custompipe2> -->
<!-- <app-course2></app-course2> -->
<!-- <app-post></app-post> -->
<!-- <app-post2></app-post2> -->
<router-outlet></router-outlet>

